#ignore virtual enviroment folder
/openteab/.python

#ignore logs and temp fiels
/macro_logs.txt
/error_logs.txt
/openteab/temp
/openteab/logs

#remove configs
**/config.json

#remove node_modules folder
/openteab/frontend/node_modules

#remove __pycache__ folders from github
**/__pycache__/*

#remove files used for quick compare
**/temp.py
**/temp.json
**/temp.txt